VITE_GITHUB_OWNER=your-github-username
VITE_GITHUB_REPO=your-repo-name
VITE_API_URL=https://your-api-url

#Cloud Function: notes-viewer
GITHUB_TOKEN=github_token

#Cloud Function: notes-basic-auth
BASIC_USER=user_notes-basic-auth
BASIC_PASSWORD=password_notes-basic-auth

# Режим разработки с мок-данными
VITE_USE_MOCKS=true